<h1> I'm still alive! </h1>
<div class="profile">
<h1> Jacy Thompson </h1>
  <h3> Student ID: u1025289 </h3>
<img src="ThompsonJa_MThumb.jpg" />
<h2> I'm a wife, mom, employee, student, runner and wanna-be photographer. </h2>
<p> I want to learn to code because I think it's fun! </p>
<a href="http://hasty-auto-185306.nitrousapp.com:4000/read_more"> Read More </a>
</div>