.profile {
  background: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.profile h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

html {
  background: url('<a data-flickr-embed="true"  href="https://www.flickr.com/photos/67759071@N05/26781252680/in/dateposted-public/" title="Up at the top..."><img src="https://farm8.staticflickr.com/7441/26781252680_87c0176064_b.jpg" width="1024" height="767" alt="Up at the top..."></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
}