.profile {
  background: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.profile h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

html {
  background: url('http://i851.photobucket.com/albums/ab75/kotyboty/05_Vista_plant_wallpaper_vplants-5.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
}